.breadcrumbs__list {
  @include reset-list-styles();
  @include body-2();
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
}

.breadcrumbs__item {
  &:not(:last-child)::after {
    content: "›";
    padding: 0 4px 0 2px;
    pointer-events: none;
    color: #B8BDC1;
  }
}

.breadcrumbs__link {
  text-decoration: none;
  color: #B8BDC1;

  &--current {
    pointer-events: none;
  }

  @include hover-focus-active {
    color: #6c94c4;
  }
}

@include media(tablet) {
  .breadcrumbs {
    padding-left: 16px;
    padding-right: 16px;
  }
}