.proposed-sets {
  @include reset-list-styles();
  display: flex;
  flex-wrap: wrap;
  height: auto;
  box-sizing: border-box;
}

.proposed-sets__item {
  width: calc(50% - 4px);
  margin-bottom: 8px;

  &:nth-child(2n - 1) {
    margin-right: 8px;
  }

  &--new .proposed-sets__link {
    position: relative;
    overflow: hidden;

    &::after {
      content: 'NEW';
      @include caption(700);
      color: $white;
      background-color: $green;
      position: absolute;
      right: -21px;
      top: 9px;
      transform: rotate(45deg);
      text-align: center;
      letter-spacing: 2px;
      width: 80px;
      padding: 4px 0 3px;
    }
  }
}

.proposed-sets__link {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  color: $black;
  border: 1px solid #EFF0F1;
  border-radius: 8px;
  background-color: $white;

  @include hover-focus-active {
    .proposed-sets__title {
      background-color: $purple-light;
      color: $purple;
    }
  }
}

.proposed-sets__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 47px;
  padding: 8px 2px 6px;
  color: $black;

  & img {
    height: 48px;
    width: auto;
  }
}

.proposed-sets__title {
  @include caption(700);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  @include default-transition();
}

@include media(tablet) {
  .proposed-sets {
    flex-wrap: nowrap;
  }

  .proposed-sets__item {
    width: 102px;
    margin-bottom: 0;
    
    &:nth-child(2n - 1) {
      margin-right: 0;
    }
  }
}