/**
 * Variables
*/

/* Typography */

/* Colour palette */
$black: #111111;
$white: #ffffff;
$purple: #894d9a;
$purple-light: #fcebff;
$purple-dark: #7c468d;
$purple-highlight: #714080;
$pink: #fc5397;
$pink-light: #ff61a0;
$grey: #f7f7f7;
$highlight: #f1edf2;
$green: #00c853;